        <!-- Projects Row -->
        <!-- Use it with an image size of 700x400 -->           
        <div class="row">
            {{ range first 4 (where .Data.Pages "Section" "portfolio") }}
            <div class="col-md-3 img-portfolio">
                <a href="{{ .URL }}">
                    {{ with .Params.images }}
                    <img class="img-responsive img-hover" src="{{ index . 1 | relURL }}" alt="">
                    {{ end }}
                </a>
            </div>
            {{ end }}
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            {{ range first 4 (after 4 (where .Data.Pages "Section" "portfolio")) }}
            <div class="col-md-3 img-portfolio">
                <a href="{{ .URL }}">
                    {{ with .Params.images }}
                    <img class="img-responsive img-hover" src="{{ index . 1 | relURL }}" alt="">
                    {{ end }}
                </a>
            </div>
            {{ end }}
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <!-- Only use if a new row is built. You end up with a unclosed div instead -->
<!--        <div class="row">
            {{ range first 4 (after 8 (where .Data.Pages "Section" "portfolio")) }}
            <div class="col-md-3 img-portfolio">
                <a href="{{ .URL }}">
                    {{ with .Params.images }}
                    <img class="img-responsive img-hover" src="{{ index . 1 | relURL }}" alt="">
                    {{ end }}
                </a>
            </div>
            {{ end }}
        </div>-->
        <!-- /.row -->
