        <!-- Projects Row -->
        <!-- Use it with an image size of 700x400 -->           
        <div class="row">
            {{ range first 2 (where .Data.Pages "Section" "portfolio") }}
            <div class="col-md-6 img-portfolio">
                <a href="{{ .URL }}">
                    {{ with .Params.images }}
                    <img class="img-responsive img-hover" src="{{ index . 1 | relURL }}" alt="">
                    {{ end }}
                </a>
                <h3>
                    <a href="{{ .URL }}">{{ .Title }}</a>
                </h3>
                <p>{{ .Description }}</p>
            </div>  
            {{ end }}
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            {{ range first 2 (after 2 (where .Data.Pages "Section" "portfolio")) }}
            <div class="col-md-6 img-portfolio">
                <a href="{{ .URL }}">
                    {{ with .Params.images }}
                    <img class="img-responsive img-hover" src="{{ index . 1 | relURL }}" alt="">
                    {{ end }}
                </a>
                <h3>
                    <a href="{{ .URL }}">{{ .Title }}</a>
                </h3>
                <p>{{ .Description }}</p>
            </div>  
            {{ end }}
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            {{ range first 2 (after 4 (where .Data.Pages "Section" "portfolio")) }}
            <div class="col-md-6 img-portfolio">
                <a href="{{ .URL }}">
                    {{ with .Params.images }}
                    <img class="img-responsive img-hover" src="{{ index . 1 | relURL }}" alt="">
                    {{ end }}
                </a>
                <h3>
                    <a href="{{ .URL }}">{{ .Title }}</a>
                </h3>
                <p>{{ .Description }}</p>
            </div>  
            {{ end }}
        </div>
        <!-- /.row -->
